<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{18,18}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>ship-anim0.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,644},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,868},{218,104}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{218,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{222,104}}</string>
                <key>offset</key>
                <string>{9,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,7},{222,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim3.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,644},{212,104}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,7},{212,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship-anim4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,854},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,644},{208,104}}</string>
                <key>offset</key>
                <string>{16,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{208,104}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game-art-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c20180fbe2ce36ce4cb04472f2ecafa$</string>
            <key>textureFileName</key>
            <string>game-art-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
